/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Ariel, "NotoSans", sans-serif ;
    
}
main{
    display: flex;
    flex-direction: column;
}

header{
    background-color: white;
    font-size: 18px;
    
}
header nav a{
    color: #6b7280;
    text-decoration: none;
}

header div {
    
    display: flex;
    align-items: baseline;
}

header li{
    list-style-type: none;
    display: inline-block;
    padding: 20px;
}
header nav{
    padding-right: 20%;
    margin-left: auto;
    
}
header h1{
    padding-left: 20%;
}
header a:hover {
    color: #5A67D8;
}

.overview-hero{
    background-color: #E2E8F0;
    padding: 50px;
    
}

.overview-hero img{
    float: left;
    margin-right: 50px;
}
.overview-hero-text{
    padding-right: 20%
}
.overview-hero-image{
    padding-left: 20%;
}

.learn-about{
    margin-bottom: 50px;
}
    


.learn-about h2{
    font-size: 24;
    color: #48BB78;
    padding-left: 20%;
}

.card{
    border-radius: 5px;
    border: 5px solid #E2E8F0;
    
    box-shadow: 2px 2px #E2E8F0;
}
.card h3{
    color: #48BB78;
    font-size: 21px;
}
.card-body{
    padding-left: 10px;
    padding-right: 10px;
}
.testing{
    background-color: #4A5568;
    color: white;
    padding-top: 100px;
    padding-bottom: 100px;
}

.testing div.container{
    display: grid;
    grid-auto-flow: column;
    padding-left: 20%;
    padding-right: 20%;
    align-items: center;

}

.cta a{
    background-color: #48BB78;
    border-radius: 5px;
    padding: 15px 35px 15px 35px;
    margin-right: 75px;
    text-decoration: none;
    color: white;
    
}
.stories{
    padding-right: 20%;
    padding-left: 20%;
    
}
.stories h2{
    color: #5A67D8;
}
.stories a{
    color: #5A67D8;
    text-decoration: none;

}
.stories h3{
    font-size: 18px;
    
}
.stories img{
    border-radius: 50%;
    float: left;
    width: 250px;
    height:  250px;
    margin-right: 50px;
}
.stories div.container{
    display: grid;
    grid-auto-flow: row;
}
article{
    margin-bottom: 50px;
}

.newsletter{
    background-color: #48BB78;
    color: white;
    padding-right: 35%;
    padding-left: 35%;
    
}
.newsletter h3{
    text-align: center;
}
.newsletter button{
    background-color: #5A67D8;
    border: 0px;
    color: white;
}
footer{
    background-color: #4A5568;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20%;
    
}

.cards{
    display: grid;
    grid-auto-flow: column;
    padding-left: 20%;
    padding-right: 20%;
}
.learn-about img{
    width: 350px;
    height:  350px;
}
.card {
    width: 350px;
}
form{
    display:grid;
    grid-auto-flow: column;
    margin-bottom: 25px;
}
#email{
    padding-right: 175px;
    padding-top: 10px;
    padding-bottom: 10px;
}
